<h2>Welcome to my game</h2>
<p>What is your name?</p>

<form action='/login' method='post'>
	<div class="form-group">
		<input type="text" class="form-control" name="player_name" placeholder="Name" >
	</div>
	<button type="submit" class="btn btn-primary">Submit</button>
</form>